In [1]:
import pandas as pd
import scipy 
from scipy import stats


# Load the data
df = pd.read_csv("lab_tat_updated.csv")
df

     Laboratory_1  Laboratory_2  Laboratory_3  Laboratory_4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        160.25        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        211.22        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [2]:
# Since data is continuous i.e Hypothesis Continuous.
# We have four comparison factors so use 


# First we have to check whether y1 and y2 are normal.


# Normality Test
# Ho: y1 , y2 , y3 , y4 are normal
# Ha : y1 , y2 , y3 , y4 are not normal

stats.shapiro(df.Laboratory_1) # Shapiro Test

# since p-value >.05 so Null hypothesis will be considered Hence normal

ShapiroResult(statistic=0.9886695146560669, pvalue=0.4232051372528076)

In [3]:
stats.shapiro(df.Laboratory_2) # Shapiro Test

ShapiroResult(statistic=0.9936320185661316, pvalue=0.8637352585792542)

In [4]:
stats.shapiro(df.Laboratory_3) # Shapiro Test

ShapiroResult(statistic=0.9796065092086792, pvalue=0.06546738743782043)

In [5]:
stats.shapiro(df.Laboratory_4) # Shapiro Test

ShapiroResult(statistic=0.9913760423660278, pvalue=0.6619619131088257)

In [6]:
# As y1 , y2 , y3 and y4 are normal i.e now check variance.

# Variance test
# HO: Variance are equal  # Ha:variances are not equal

scipy.stats.levene(df.Laboratory_1, df.Laboratory_2 , df.Laboratory_3 , df.Laboratory_4)

# p-value = 0.381 > 0.05 so p high null fly => Equal variances

# Since variances are equal i.e now find One - Way Anova

LeveneResult(statistic=1.025294593220823, pvalue=0.38107781677304564)

In [ ]:
# Ho : No difference will be their in the average TAT among the difference laboratories.
# Ha : Difference will be their in the average TAT among the difference laboratories.

In [8]:
# One - Way Anova
stats.f_oneway(df.Laboratory_1, df.Laboratory_2, df.Laboratory_3 , df.Laboratory_4)

# p value < 0.05  i.e alternate hypothesis. Difference will be their in average TAT among the different laboratories

F_onewayResult(statistic=121.39264646442368, pvalue=2.143740909435053e-58)