In [14]:
# import library

import pandas as pd
import scipy.stats as stats

In [15]:
# load dataset
df=pd.read_csv("CustomerOrderform - CustomerOrderform.csv")
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [16]:
print(df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['Malta'].value_counts(),df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [17]:
observed=([[271,267,269,280],[29,33,31,20]])

In [19]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [20]:
stat

3.858960685820355

In [21]:
p

0.2771020991233135

In [3]:
# H0: Defective % does not vary by center
# H1: Defective % varies by center

In [23]:
print('dof=%d' % dof)
print(expected)

dof=3
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [26]:
# interpret p-value
alpha = 0.05
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)

Independent (fail to reject H0)